AZURE_AI_PROJECT_ENDPOINT=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_AI_VISION_ENDPOINT=
AZURE_AI_VISION_KEY=
AZURE_BLOB_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=
JWT_SECRET=
NEXT_PUBLIC_API_URL=
